mariadb/data/aria_log_control
mariadb/data/aria_log.00000001
mariadb/data/ddl_recovery.log
mariadb/data/ib_buffer_pool
mariadb/data/ib_logfile0
mariadb/data/ibdata1
mariadb/data/ibtmp1
mariadb/data/multi-master.info
mariadb/data/mysql_upgrade_info
mariadb/data/bitnami_myapp/actual_hotel_charges.frm
mariadb/data/bitnami_myapp/actual_hotel_charges.ibd
mariadb/data/bitnami_myapp/catered_burden_amounts.frm
mariadb/data/bitnami_myapp/catered_burden_amounts.ibd
mariadb/data/bitnami_myapp/db.opt
mariadb/data/bitnami_myapp/expense_classifications.frm
mariadb/data/bitnami_myapp/expense_classifications.ibd
mariadb/data/bitnami_myapp/failed_jobs.frm
mariadb/data/bitnami_myapp/failed_jobs.ibd
mariadb/data/bitnami_myapp/hotel_charges.frm
mariadb/data/bitnami_myapp/hotel_charges.ibd
mariadb/data/bitnami_myapp/last_days_of_trips.frm
mariadb/data/bitnami_myapp/last_days_of_trips.ibd
mariadb/data/bitnami_myapp/means_of_transport.frm
mariadb/data/bitnami_myapp/means_of_transport.ibd
mariadb/data/bitnami_myapp/migrations.frm
mariadb/data/bitnami_myapp/migrations.ibd
mariadb/data/bitnami_myapp/password_resets.frm
mariadb/data/bitnami_myapp/password_resets.ibd
mariadb/data/bitnami_myapp/personal_access_tokens.frm
mariadb/data/bitnami_myapp/personal_access_tokens.ibd
mariadb/data/bitnami_myapp/places_of_business.frm
mariadb/data/bitnami_myapp/places_of_business.ibd
mariadb/data/bitnami_myapp/points.frm
mariadb/data/bitnami_myapp/points.ibd
mariadb/data/bitnami_myapp/private_car_drive_distances.frm
mariadb/data/bitnami_myapp/private_car_drive_distances.ibd
mariadb/data/bitnami_myapp/purposes.frm
mariadb/data/bitnami_myapp/purposes.ibd
mariadb/data/bitnami_myapp/schools.frm
mariadb/data/bitnami_myapp/schools.ibd
mariadb/data/bitnami_myapp/service_section_trip.frm
mariadb/data/bitnami_myapp/service_section_trip.ibd
mariadb/data/bitnami_myapp/service_sections.frm
mariadb/data/bitnami_myapp/service_sections.ibd
mariadb/data/bitnami_myapp/trips.frm
mariadb/data/bitnami_myapp/trips.ibd
mariadb/data/bitnami_myapp/users.frm
mariadb/data/bitnami_myapp/users.ibd
mariadb/data/mysql/column_stats.frm
mariadb/data/mysql/column_stats.MAD
mariadb/data/mysql/column_stats.MAI
mariadb/data/mysql/columns_priv.frm
mariadb/data/mysql/columns_priv.MAD
mariadb/data/mysql/columns_priv.MAI
mariadb/data/mysql/db.frm
mariadb/data/mysql/db.MAD
mariadb/data/mysql/db.MAI
mariadb/data/mysql/db.opt
mariadb/data/mysql/event.frm
mariadb/data/mysql/event.MAD
mariadb/data/mysql/event.MAI
mariadb/data/mysql/func.frm
mariadb/data/mysql/func.MAD
mariadb/data/mysql/func.MAI
mariadb/data/mysql/general_log.CSM
mariadb/data/mysql/general_log.CSV
mariadb/data/mysql/general_log.frm
mariadb/data/mysql/global_priv.frm
mariadb/data/mysql/global_priv.MAD
mariadb/data/mysql/global_priv.MAI
mariadb/data/mysql/gtid_slave_pos.frm
mariadb/data/mysql/gtid_slave_pos.ibd
mariadb/data/mysql/help_category.frm
mariadb/data/mysql/help_category.MAD
mariadb/data/mysql/help_category.MAI
mariadb/data/mysql/help_keyword.frm
mariadb/data/mysql/help_keyword.MAD
mariadb/data/mysql/help_keyword.MAI
mariadb/data/mysql/help_relation.frm
mariadb/data/mysql/help_relation.MAD
mariadb/data/mysql/help_relation.MAI
mariadb/data/mysql/help_topic.frm
mariadb/data/mysql/help_topic.MAD
mariadb/data/mysql/help_topic.MAI
mariadb/data/mysql/index_stats.frm
mariadb/data/mysql/index_stats.MAD
mariadb/data/mysql/index_stats.MAI
mariadb/data/mysql/innodb_index_stats.frm
mariadb/data/mysql/innodb_index_stats.ibd
mariadb/data/mysql/innodb_table_stats.frm
mariadb/data/mysql/innodb_table_stats.ibd
mariadb/data/mysql/plugin.frm
mariadb/data/mysql/plugin.MAD
mariadb/data/mysql/plugin.MAI
mariadb/data/mysql/proc.frm
mariadb/data/mysql/proc.MAD
mariadb/data/mysql/proc.MAI
mariadb/data/mysql/procs_priv.frm
mariadb/data/mysql/procs_priv.MAD
mariadb/data/mysql/procs_priv.MAI
mariadb/data/mysql/proxies_priv.frm
mariadb/data/mysql/proxies_priv.MAD
mariadb/data/mysql/proxies_priv.MAI
mariadb/data/mysql/roles_mapping.frm
mariadb/data/mysql/roles_mapping.MAD
mariadb/data/mysql/roles_mapping.MAI
mariadb/data/mysql/servers.frm
mariadb/data/mysql/servers.MAD
mariadb/data/mysql/servers.MAI
mariadb/data/mysql/slow_log.CSM
mariadb/data/mysql/slow_log.CSV
mariadb/data/mysql/slow_log.frm
mariadb/data/mysql/table_stats.frm
mariadb/data/mysql/table_stats.MAD
mariadb/data/mysql/table_stats.MAI
mariadb/data/mysql/tables_priv.frm
mariadb/data/mysql/tables_priv.MAD
mariadb/data/mysql/tables_priv.MAI
mariadb/data/mysql/time_zone_leap_second.frm
mariadb/data/mysql/time_zone_leap_second.MAD
mariadb/data/mysql/time_zone_leap_second.MAI
mariadb/data/mysql/time_zone_name.frm
mariadb/data/mysql/time_zone_name.MAD
mariadb/data/mysql/time_zone_name.MAI
mariadb/data/mysql/time_zone_transition_type.frm
mariadb/data/mysql/time_zone_transition_type.MAD
mariadb/data/mysql/time_zone_transition_type.MAI
mariadb/data/mysql/time_zone_transition.frm
mariadb/data/mysql/time_zone_transition.MAD
mariadb/data/mysql/time_zone_transition.MAI
mariadb/data/mysql/time_zone.frm
mariadb/data/mysql/time_zone.MAD
mariadb/data/mysql/time_zone.MAI
mariadb/data/mysql/transaction_registry.frm
mariadb/data/mysql/transaction_registry.ibd
mariadb/data/mysql/user.frm
mariadb/data/performance_schema/db.opt
mariadb/data/sys/db.opt
mariadb/data/sys/host_summary_by_file_io_type.frm
mariadb/data/sys/host_summary_by_file_io.frm
mariadb/data/sys/host_summary_by_stages.frm
mariadb/data/sys/host_summary_by_statement_latency.frm
mariadb/data/sys/host_summary_by_statement_type.frm
mariadb/data/sys/host_summary.frm
mariadb/data/sys/innodb_buffer_stats_by_schema.frm
mariadb/data/sys/innodb_buffer_stats_by_table.frm
mariadb/data/sys/innodb_lock_waits.frm
mariadb/data/sys/io_by_thread_by_latency.frm
mariadb/data/sys/io_global_by_file_by_bytes.frm
mariadb/data/sys/io_global_by_file_by_latency.frm
mariadb/data/sys/io_global_by_wait_by_bytes.frm
mariadb/data/sys/io_global_by_wait_by_latency.frm
mariadb/data/sys/latest_file_io.frm
mariadb/data/sys/memory_by_host_by_current_bytes.frm
mariadb/data/sys/memory_by_thread_by_current_bytes.frm
mariadb/data/sys/memory_by_user_by_current_bytes.frm
mariadb/data/sys/memory_global_by_current_bytes.frm
mariadb/data/sys/memory_global_total.frm
mariadb/data/sys/metrics.frm
mariadb/data/sys/processlist.frm
mariadb/data/sys/ps_check_lost_instrumentation.frm
mariadb/data/sys/schema_auto_increment_columns.frm
mariadb/data/sys/schema_index_statistics.frm
mariadb/data/sys/schema_object_overview.frm
mariadb/data/sys/schema_redundant_indexes.frm
mariadb/data/sys/schema_table_lock_waits.frm
mariadb/data/sys/schema_table_statistics_with_buffer.frm
mariadb/data/sys/schema_table_statistics.frm
mariadb/data/sys/schema_tables_with_full_table_scans.frm
mariadb/data/sys/schema_unused_indexes.frm
mariadb/data/sys/session_ssl_status.frm
mariadb/data/sys/session.frm
mariadb/data/sys/statement_analysis.frm
mariadb/data/sys/statements_with_errors_or_warnings.frm
mariadb/data/sys/statements_with_full_table_scans.frm
mariadb/data/sys/statements_with_runtimes_in_95th_percentile.frm
mariadb/data/sys/statements_with_sorting.frm
mariadb/data/sys/statements_with_temp_tables.frm
mariadb/data/sys/sys_config.frm
mariadb/data/sys/sys_config.MAD
mariadb/data/sys/sys_config.MAI
mariadb/data/sys/user_summary_by_file_io_type.frm
mariadb/data/sys/user_summary_by_file_io.frm
mariadb/data/sys/user_summary_by_stages.frm
mariadb/data/sys/user_summary_by_statement_latency.frm
mariadb/data/sys/user_summary_by_statement_type.frm
mariadb/data/sys/user_summary.frm
mariadb/data/sys/version.frm
mariadb/data/sys/wait_classes_global_by_avg_latency.frm
mariadb/data/sys/wait_classes_global_by_latency.frm
mariadb/data/sys/waits_by_host_by_latency.frm
mariadb/data/sys/waits_by_user_by_latency.frm
mariadb/data/sys/waits_global_by_latency.frm
mariadb/data/sys/x@0024host_summary_by_file_io_type.frm
mariadb/data/sys/x@0024host_summary_by_file_io.frm
mariadb/data/sys/x@0024host_summary_by_stages.frm
mariadb/data/sys/x@0024host_summary_by_statement_latency.frm
mariadb/data/sys/x@0024host_summary_by_statement_type.frm
mariadb/data/sys/x@0024host_summary.frm
mariadb/data/sys/x@0024innodb_buffer_stats_by_schema.frm
mariadb/data/sys/x@0024innodb_buffer_stats_by_table.frm
mariadb/data/sys/x@0024innodb_lock_waits.frm
mariadb/data/sys/x@0024io_by_thread_by_latency.frm
mariadb/data/sys/x@0024io_global_by_file_by_bytes.frm
mariadb/data/sys/x@0024io_global_by_file_by_latency.frm
mariadb/data/sys/x@0024io_global_by_wait_by_bytes.frm
mariadb/data/sys/x@0024io_global_by_wait_by_latency.frm
mariadb/data/sys/x@0024latest_file_io.frm
mariadb/data/sys/x@0024memory_by_host_by_current_bytes.frm
mariadb/data/sys/x@0024memory_by_thread_by_current_bytes.frm
mariadb/data/sys/x@0024memory_by_user_by_current_bytes.frm
mariadb/data/sys/x@0024memory_global_by_current_bytes.frm
mariadb/data/sys/x@0024memory_global_total.frm
mariadb/data/sys/x@0024processlist.frm
mariadb/data/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
mariadb/data/sys/x@0024ps_digest_avg_latency_distribution.frm
mariadb/data/sys/x@0024ps_schema_table_statistics_io.frm
mariadb/data/sys/x@0024schema_flattened_keys.frm
mariadb/data/sys/x@0024schema_index_statistics.frm
mariadb/data/sys/x@0024schema_table_lock_waits.frm
mariadb/data/sys/x@0024schema_table_statistics_with_buffer.frm
mariadb/data/sys/x@0024schema_table_statistics.frm
mariadb/data/sys/x@0024schema_tables_with_full_table_scans.frm
mariadb/data/sys/x@0024session.frm
mariadb/data/sys/x@0024statement_analysis.frm
mariadb/data/sys/x@0024statements_with_errors_or_warnings.frm
mariadb/data/sys/x@0024statements_with_full_table_scans.frm
mariadb/data/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
mariadb/data/sys/x@0024statements_with_sorting.frm
mariadb/data/sys/x@0024statements_with_temp_tables.frm
mariadb/data/sys/x@0024user_summary_by_file_io_type.frm
mariadb/data/sys/x@0024user_summary_by_file_io.frm
mariadb/data/sys/x@0024user_summary_by_stages.frm
mariadb/data/sys/x@0024user_summary_by_statement_latency.frm
mariadb/data/sys/x@0024user_summary_by_statement_type.frm
mariadb/data/sys/x@0024user_summary.frm
mariadb/data/sys/x@0024wait_classes_global_by_avg_latency.frm
mariadb/data/sys/x@0024wait_classes_global_by_latency.frm
mariadb/data/sys/x@0024waits_by_host_by_latency.frm
mariadb/data/sys/x@0024waits_by_user_by_latency.frm
mariadb/data/sys/x@0024waits_global_by_latency.frm
mariadb/data/test/db.opt
